* {margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    gap: 3rem; 
}

input {
    border-radius: 10px;
    padding: .2rem;
    width: 15rem;
}

button {
    background-color: rgb(77, 245, 236);
    border-radius: 10px;
    padding: .2rem;
}

li {
    border-radius: 10px;
    padding: .2rem;
    width: 20rem;
    background-color: beige;
    border: 1px solid lightgrey;
    cursor:pointer;
}

i {
    cursor:pointer;
}


/* CLASSE PER LE ATTIVITà CLICCATE E SBARRATE */
.done {
    text-decoration: line-through;
    font-style: italic;
    color: grey;
}