* {margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    gap: 3rem; 
}

input {
    border-radius: 10px;
    padding: .2rem;
    width: 15rem;
}

button {
    background-color: yellow;
    border-radius: 10px;
    padding: .2rem;
}

li {
    border-radius: 10px;
    padding: .2rem;
    width: 20rem;
    background-color: beige;
    border: 1px solid lightgrey
}